footer#contacts.footer
  .mobile-title.mobile-title--padding
    h2.mobile-title__header контакты
  div.map
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1119.1373975393108!2d55.92716633755971!3d54.729655599419566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43d93a60fea9b523%3A0x6adb24bd39f1377f!2z0JrQvtC80LzRg9C90LjRgdGC0LjRh9C10YHQutCw0Y8g0YPQuy4sIDExLCDQo9GE0LAsINCg0LXRgdC_LiDQkdCw0YjQutC-0YDRgtC-0YHRgtCw0L0sIDQ1MDA3Ng!5e0!3m2!1sru!2sru!4v1595762262559!5m2!1sru!2sru" allowfullscreen="" aria-hidden="false" tabindex="0").footer__map
  article.contacts
    div.contacts-header__container
      h2.contacts__header контакты
    ul.contacts__list
      li.contacts-list__item
        div.item-image__container
          img(src="./img/tel.svg" alt="telephone").item__img
        a(href="tel: +79639077346").item__text +7 963 907 73 46
      li.contacts-list__item
        div.item-image__container
          img(src="./img/geo.svg" alt="geolocation").item__img
        span.item__text г. Уфа, ул. Коммунистическая 11
      li.contacts-list__item
        div.item-image__container
          img(src="./img/time.svg" alt="work time").item__img
        span.item__text Без выходных с 10:00 до 19:00
    div.contacts__social
      a(href="#").contacts-social__link
        img(src="./img/instagram.svg" alt="instagram").social__img
      a(href="#").contacts-social__link
        img(src="./img/vk.svg" alt="vk").social__img
      a(href="#").contacts-social__link
        img(src="./img/whatsapp.svg" alt="whatsapp").social__img
    div.footer__logo
      img(src="./img/footer-logo.svg" alt="logo").footer-logo__img
p.create-by Create by WebUFA

