.modal-container#modal-one
  section.modal.modal-consultation
    button#close-modal.btn.btn--close.modal__btn-close-consultation
      img(src="./img/close.svg" alt="close").btn__icon
    .modal__content-container
      h2.modal__header Получите бесплатную консультацию специалиста
      p.modal__text Мы рады ответить на все Ваши вопросы о ценах, материалах и дизайнерских решениях
      form.form.modal__form
        input(type="text" placeholder="ФИО").form__input
        input(type="text" placeholder="Телефон").form__input
        input(type="text" placeholder="Электронная почта").form__input
        input(type="submit" value="Получить консультатцию").btn.btn--dark.form__btn


