section.about-us
  article.about-us__description
    div.about-us__header
      div.mobile-title
        h2.mobile-title__header о нашем салоне
      h2.about-us__header-text Дизайн - студия «Esthete» специализируется на индивидуальном текстильном оформлении помещений.
    div.mobile-title.mobile-title--padding
      h2.mobile-title__header наши услуги
    ul.about-us__list
      li.about-us-list__item
        span.about-us-list__text Выезд дизайнера с образцами тканей на объект.
      li.about-us-list__item
        span.about-us-list__text Замер окон для дальнейшей разработки эскизов и расчета используемых материалов.
      li.about-us-list__item
        span.about-us-list__text Индивидуальный подбор используемых материалов, фурнитуры и аксессуаров.
      li.about-us-list__item
        span.about-us-list__text Пошив изделий различной степени сложности.
      li.about-us-list__item
        span.about-us-list__text Компьютерная именная машинная вышивка на изготавливаемых изделиях.
      li.about-us-list__item
        span.about-us-list__text Доставка и монтаж изделий нашего производства.
