div.mobile-title.mobile-title--padding
  h2.mobile-title__header наши преимущества
section.advantages
  article.advantages__item
    img(src="./img/advantages-image-1.svg" alt="advantage one").advantages__img
    h3.advantages__text Разработка индивидуального дизайн-проекта, адаптированная для вашего интерьера
  article.advantages__item
    img(src="./img/advantages-image-2.svg" alt="advantage two").advantages__img
    h3.advantages__text Авторский надзор и выезд монтажной группы на дом
  article.advantages__item
    img(src="./img/advantages-image-3.svg" alt="advantage three").advantages__img
    h3.advantages__text Персональный расчет стоимости без переплат, основанный на вашем индивидуальном дизайн-проекте

