.mobile-title.mobile-title--padding
  h2.mobile-title__header каталог
section#catalog.goods
  h2.goods__header каталог
  article.goods__category
    a(href="./sun-protection-systems.html").category-img__link
      .mobile-img-filter
      img(src="./img/category-protection.png" alt="солнцезащитные системы").category__img
    a(href="./sun-protection-systems.html").category__link
      h3.category__heading солнцезащитные системы
  article.goods__category
    a(href="./style.html").category-img__link
      .mobile-img-filter
      img(src="./img/category-style.png" alt="стили").category__img
    a(href="./style.html").category__link
      h3.category__heading стили
  article.goods__category
    a(href="./curtains.html").category-img__link
      .mobile-img-filter
      img(src="./img/category-curtains.png" alt="шторы").category__img
    a(href="./curtains.html").category__link
      h3.category__heading шторы
  article.goods__category
    a(href="./cornices.html").category-img__link
      .mobile-img-filter
      img(src="./img/category-cornices.png" alt="карнизы").category__img
    a(href="./cornices.html").category__link
      h3.category__heading карнизы


