section.masters
  div.mobile-title.mobile-title--padding
    h2.mobile-title__header мы в лицах
  article.masters__description
    section.masters-description__item
      img(src="./img/master1.png" alt="master").masters-description__img
      .masters-description__container
        h2.masters-description__header Мария Смирнова
        p.master-description__text Арт-директор студии
        p.master-description__text Участник ворк-шопов, эксперт в дизайне интерьера
        p.master-description__text Дизайнер с 10-летним стажем
    section.masters-description__item
      img(src="./img/master2.png" alt="master").masters-description__img
      .masters-description__container
        h2.masters-description__header Мария Смирнова
        p.master-description__text Дизайнер, технолог
        p.master-description__text Выпускница Института искусств
        p.master-description__text 5 лет в профессии технолога-закройщика
