nav.navigation
  a(href="#header").navigation__link
    img(src="./img/footer-logo.svg" alt="logo").navigation__logo
  ul.navigation__list
    li.navigation-list__item
      a(href="#catalog").navigation-list__link Каталог
    li.navigation-list__item
      a(href="#portfolio").navigation-list__link Портфолио
    li.navigation-list__item
      a(href="#contacts").navigation-list__link Контакты
  a(href="tel:+79639077346").navigation__tel +7 (963)-907-73-46
