section#portfolio.portfolio
  h2.portfolio__header портфолио
  .portfolio__item
    img(src="./img/portfolio-1.png" alt="works").portfolio__img
  .portfolio__item
    img(src="./img/portfolio-2.png" alt="works").portfolio__img
  .portfolio__item
    img(src="./img/portfolio-3.png" alt="works").portfolio__img
  .portfolio__item
    img(src="./img/portfolio-4.png" alt="works").portfolio__img
