.mobile-title.mobile-title--padding
  h2.mobile-title__header портфолио
section#portfolio.portfolio
  h2.portfolio__header портфолио
  .portfolio__item.portfolio0
    img(src="./img/portfolio-1.png" alt="works").portfolio__img
  .portfolio__item.portfolio1
    img(src="./img/portfolio-2.png" alt="works").portfolio__img
  .portfolio__item.portfolio2
    img(src="./img/portfolio-3.png" alt="works").portfolio__img
  .portfolio__item.portfolio3
    img(src="./img/portfolio-4.png" alt="works").portfolio__img
