div.swiper-container.header__swiper-container
  section.swiper-header
    .swiper-header__container
      img(src="./img/slider-logo.png" alt="logo").slider-logo
      img(src="./img/logo-mobile.png" alt="logo").mobile-logo
      .swiper-header-container__text
        img(src="./img/slider-text.png" alt="Esthete").slider-logo
        h2.header-studio салон штор
    p.header__text Индивидуальный пошив штор
    p.header__text Текстильное оформление помещений
    button.btn.btn--dark.btn--size-medium.btn-consultation.btn--slider Получить консультацию
    img(src="./img/mobile-arrow.svg" alt="logo").mobile-arrow
  div.swiper-wrapper
    div.swiper-slide
      img(src="/img/slider-image-1.png" alt="background image").slide__img
    div.swiper-slide
      img(src="/img/slider-image-2.png" alt="background image").slide__img
    div.swiper-slide
      img(src="/img/slider-image-3.png" alt="background image").slide__img
    div.swiper-slide
      img(src="/img/slider-image-4.png" alt="background image").slide__img
  div.swiper-pagination

