@import "common/global";

@import "common/header";

@import "common/footer";

@import "common/button";

@import "common/navigation";

@import "common/modal-consultation";

@import "common/modal-gallery";

@import "common/gallery-slider";

@import "includes/index/index";

@import "includes/index/slider";

@import "includes/index/about-us";

@import "includes/index/advantages";

@import "includes/index/masters";

@import "includes/index/goods";

@import "includes/index/portfolio";

@import "includes/categories/header";

@import "includes/categories/navigation";

@import "includes/categories/about-categories";

@import "includes/categories/type-of-category";

@import "includes/categories/footer";

@import "common/mobile-title";

