@import "../../utils/variables";

.advantages{
  width: 138%;
  margin-left: -19%;
  display: grid;
  grid-template-columns: 33.8% 1fr 33.8%;
  grid-gap: 0 6.1%;
  place-items: center;
  margin-bottom: 1.6rem;
}

.advantages__item{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  background-color: $second;
  padding: 1.6rem 2.4rem;

  &:first-child{
    padding-left: 40.6%;
  }

  &:last-child{
    padding-right: 40.6%;
  }
}

.advantages__img{
  width: 9.4rem;
  height: 9.4rem;
  object-fit: contain;
  object-position: 50% 50%;
}

.advantages__text{
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 120%;
  text-align: center;
  color: $light;
  margin-bottom: auto;
}
