@import "../../utils/variables";

.main{
  padding-top: 2.4rem;
}

.container-btn{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12rem;

  @include media-tablet{
    margin-bottom: 4.8rem;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.btn-consultation{
  @include media-tablet{
    background-color: $white;
    font-size: 2rem;
    width: 100%;

    &:hover{
      background-color: $darken;
      color: $white;
    }
  }
}

.container-btn::before, .container-btn::after {
  content: "";
  width: 29%;
  height: 1px;
  background-color: $background-line;

  @include media-tablet{
    display: none;
  }
}



