@import "../../utils/variables";

.masters{
  position: relative;
  width: 138%;
  margin-left: -19%;
  background-image: url("../img/master-background.png");
  background-repeat: no-repeat;
  background-size: 66.2% 100%;
  background-position: right;
  margin-bottom: 13.6rem;

  @include media-tablet{
    width: 100%;
    margin: 0;
    padding-top: 1.6rem;
    background-image: unset;
  }
}

.masters::after{
  content: "";
  display: inline-block;
  position: absolute;
  width: 100% - $main-indent;
  bottom: -1.6rem;
  right: 0;
  height: 1px;
  background-color: $background-line;

  @include media-tablet{
    display: none;
  }
}

.masters__description{
  width: 60.1%;
  height: 100%;
  padding-left: $main-indent;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  background-color: rgba(226, 211, 212, 0.6);

  @include media-tablet{
    width: 100%;
    padding-left: 0;
    padding-bottom: 0;
    background-color: unset;
    padding-top: 0;
    margin-bottom: 3.2rem;
  }
}

.masters-description__item{
  display: flex;
  margin-bottom: 4.8rem;

  &:last-child{
    margin-bottom: 0;
  }

  @include media-tablet{
    width: 100%;
    background-color: rgba(44, 36, 39, 0.4);
    padding: 1.6rem 0 0 1.6rem;
    margin-bottom: 0.8rem;
  }
}

.masters-description__img{
  height: auto;

  @include media-tablet{
    width: 38.75%;
  }
}

.masters-description__container{
  padding-top: 6.2rem;
  padding-left: 2.4rem;

  @include media-tablet{
    padding-top: 0;
    padding-left: 1.6rem;
  }
}

.masters-description__header{
  font-style: normal;
  font-weight: 300;
  font-size: 3rem;
  line-height: 100%;
  color: #E5E5E5;
  margin-bottom: 2.4rem;

  @include media-tablet{
    font-size: 2.5rem;
    margin-bottom: 1.6rem;
  }

  @include media-mobile{
    font-size: 2rem;
    margin-bottom: 1.6rem;
  }
}

.master-description__text{
  font-style: normal;
  font-weight: 200;
  font-size: 2rem;
  line-height: 100%;
  color: #E5E5E5;
  margin-bottom: 0.8rem;

  &:last-child{
    margin-bottom: 0;
  }

  @include media-tablet{
    font-size: 1.8rem;
  }

  @include media-mobile{
    font-size: 1.5rem;
  }
}
