@import "../../utils/variables";

.portfolio{
  display: grid;
  grid-template-columns: 52% 6% 42%;
  grid-template-rows: 16.8rem auto 8rem 10.5rem 4rem auto 15.2rem;
  margin-bottom: 12rem;

  @include media-tablet{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    grid-template-rows: 5.3rem auto 2.7rem 3.2rem 1.3rem auto 5.3rem;
    margin-bottom: 4.8rem;
  }
}

.portfolio__header{
  position: relative;
  font-style: normal;
  font-weight: 300;
  font-size: 4rem;
  line-height: 30%;
  letter-spacing: 0.18em;
  color: $light;

  @include media-tablet{
    display: none;
  }
}

.portfolio__header::after{
  position: absolute;
  top: 1.6rem;
  right: 0;
  content: "";
  width: 42.4%;
  height: 1px;
  background-color: $background-line;
}

.portfolio__header:first-child{
  padding-top: 1.6rem;
}

.portfolio__item{
  display: flex;
  cursor: pointer;
  overflow: hidden;
}

.portfolio__item:nth-child(2){
  grid-row: 2 / span 3;
}

.portfolio__item:nth-child(3){
  grid-row: 6 / span 2;
}

.portfolio__item:nth-child(4){
  grid-row: 1 / span 2;
  grid-column-start: 3;
}

.portfolio__item:nth-child(5){
  grid-row: 4 / span 3;
  grid-column-start: 3;
}

.portfolio__item:hover .portfolio__img {
  transform: scale(1.1);
}

.portfolio__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transition: all 1s ease-out;
}


