@import "../../utils/variables";
@import "../../../../node_modules/swiper/swiper";
@import "../../../../node_modules/swiper/components/pagination/pagination";

.header__swiper-container {
  position: relative;
  width: 138%;
  max-height: 65rem;
  margin-left: -19%;

  @include media-tablet{
    width: 100%;
    height: 520px;
    margin-left: 0;
  }
}

.swiper-header{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  width: 36.1%;
  margin-left: $main-indent;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  color: $header-text;

  @include media-tablet{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 64px 24px;
    justify-content: space-between;
  }
}

.swiper-header__container{
  display: flex;
  width: 100%;
  margin-bottom: 2.4rem;
}

.swiper-header-container__text{
  display: flex;
  flex-direction: column;
}

.header-activity{
  font-size: 2rem;
  line-height: 100%;
  font-weight: 200;
  margin: 0 0 3.6rem
}

.header-studio{
  font-size: 2rem;
  line-height: 100%;
  font-weight: 300;
  text-align: center;
}

.header-logo{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slider-logo{

  @include media-tablet{
    display: none;
  }
}

.mobile-logo{
  display: none;

  @include media-tablet{
    display: block;
  }
}

.mobile-arrow{
  display: none;

  @include media-tablet{
    position: absolute;
    display: block;
    width: 26px;
    height: 19.5px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 9.5px;
  }
}

.header__text{
  font-style: normal;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 100%;
  color: $white;

  &:nth-last-of-type(1){
    margin-bottom: 9.6rem;
  }

  @include media-tablet{
    display: none;
  }
}

.swiper-slide {
  height: 100%;
  text-align: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.slide__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-header-container__text{

  @include media-tablet{
    display: none;
  }
}

.swiper-container-vertical>.swiper-pagination-bullets{
  right: $main-indent;

  @include media-tablet{
    display: none;
  }
}

.header__swiper-container>.swiper-pagination-bullets .swiper-pagination-bullet{
  margin: 1rem auto;
}

.swiper-pagination-bullet{
  width: 10px;
  height: 10px;
  background-color: $pagination-bullet;
  opacity: unset;
}

.swiper-pagination-bullet-active{
  width: 16px;
  height: 16px;
  background-color: $pagination-bullet-active;
}
