mixin about-category(title, text, url, style)
  section.about-category
    div.about-category__description
      .about-category__container
        h2.about-category__header=title
      p.about-category__text=text
    div.about-category__image-container
      img(src=url alt="category image").about-category__image
