header.category__header
  include ./navigation
  section.category-header__image
    img(src="./img/header-logo.svg" alt="header logo").category-header__logo
    h2.category-header__heading салон штор

