nav.navigation.navigation-category
  a(href="./index.html").navigation__link.navigation__link-back
    img(src="./img/back.svg" alt="back arrow").back__img
  ul.navigation__list.category-navigation__list
    li.navigation-list__item
      a(href="./index.html").navigation-list__link Главная
  .navigation__container
    a(href="tel:89639077346").navigation__tel +7 (963)-907-73-46
    a(href="tel:89639077346").navigation__tel +7 (963)-907-73-46
