@import "../../../node_modules/normalize.css/normalize";
@import "../utils/variables";
@import "../mixins/media";

*, *::before, *::after {
  box-sizing: inherit;
  font-size: $font-size;
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.overflow{
  overflow: hidden;
}

.wrapper{
  background-color: $darken;
  width: 100%;
  min-height: 100vh;
  padding: 0 13.75%;

  @include media-tablet-horizontal{
    padding: 0 7%;
  }

  @include media-tablet{
    width: auto;
    padding: 0;
    margin: 0;
  }
}
