.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(44, 36, 39, 0.3);
  overflow: hidden;

  &--open{
    display: flex;
  }

  @include media-tablet{
    background: rgba(44, 36, 39, 0.5);
  }
}

.modal-consultation{
  position: relative;
  width: 85%;
  padding-top: 5.6rem;
  padding-bottom: 5.6rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/modal-background.jpg") center/cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  @include media-tablet{
    width: 100%;
    padding: 4.8rem 3.2rem;
  }
}

.modal__btn-close-consultation{
  top: 5.6rem;
  right: 25.3125%;

  @include media-tablet{
    top: 1.6rem;
    right: 1.6rem;
  }
}

.modal__content-container{
  width: 33%;
  margin: 0 auto;

  @include media-tablet{
    width: 100%;
  }
}

.modal__header{
  font-style: normal;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 100%;
  color: $white;
  margin-bottom: 1.6rem;

  @include media-tablet{
    margin-bottom: 3.2rem;
  }
}

.modal__text{
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 111%;
  color: $white;
  margin-bottom: 5.6rem;

  @include media-tablet{
    display: none;
  }
}

.form{
  display: flex;
  flex-direction: column;
}

.modal__form{
  width: 60.1%;
  margin: 0 auto;

  @include media-tablet{
    width: 100%;
  }
}

.form__input{
  padding: 1.6rem 0 1.6rem 1.6rem;
  margin-bottom: 2.4rem;
  font-style: normal;
  font-weight: 200;
  font-size: 1.6rem;
  color: $darken;

  &:nth-last-of-type(1){
    margin-bottom: 5.4rem;
  }

  @include media-tablet{
    border-radius: 3px;
    border: none;
    outline: none;

    &:nth-child(3){
      margin-bottom: 5.6rem;
    }
  }
}

.form__btn{
  width: 100%;
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 100%;
  padding: 1.6rem;
}
