doctype html
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      title Шторы
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(content="ie=edge" http-equiv="x-ua-compatible")
      link(rel="stylesheet" href="./css/style.min.css")
  body.wrapper
    block header
      include ./includes/categories/header
    block content
      main.catigories__main
        include ./includes/categories/about-categories
        +about-category("шторы", "Мы поможем создать индивидуальный и неповторимый дизайн для каждого типа комнат и помещений", "./img/category-curtains.png")
        include ./includes/categories/type-of-category
        +type-of-category([
          {
            title: 'австрийские',
            src: './img/curtain-1.png',
            text: 'При подъеме складываются в красивые волнообразные складки. Опущенные шторы висят прямо как занавес, сохраняя несколько мягких складок вдоль нижнего края.'
          },
          {
            title: 'французские',
            src: './img/curtain-2.png',
            text: 'Этот вид очень похож на австрийские шторы. Основное отличие французских штор в том, что они и в поднятом и в опущенном состоянии имеют мелкие горизонтальные складки. Шторы регулируются только по высоте.'
          },
          {
            title: 'римские',
            src: './img/curtain-3.png',
            text: 'Верхняя часть римской шторы прочно закреплена на специальном карнизе, который снабжен подъемным механизмом. Подъем римской шторы происходит при помощи шнуров, которые продеты в кольца на тыльной части шторы. При подъеме штора образует горизонтальные складки.'
          },
          {
            title: 'итальянские',
            src: './img/curtain-4.png',
            text: 'Шторы закреплены к карнизу без возможности их движения сверху. Для открытия штор их просто разводят по сторонам и подвязывают подхватами. Этот прием придает окну интересную линию обрамления и является "фишкой" итальянских штор. Итальянские шторы хорошо подходят для нестандартных окон.'
          },
          {
            title: 'классические прямые',
            src: './img/curtain-5.png',
            text: 'Этот вид штор имеет наибольшее распространение. Классические прямые шторы состоят из плотных портьер и легких гардин, закрепленных вертикально на карнизе. Могут применяться портьеры с подкладкой.'
          },
          {
            title: 'шторы кафе',
            src: './img/curtain-6.png',
            text: 'Этот вид штор относится к коротким шторам, длина которых не опускается ниже верхнего края подоконника. Ткань может быть как плотной так и прозрачной.'
          },
          {
            title: 'шторы с ламбрекенами',
            src: './img/curtain-7.png',
            text: 'Этот вид штор дополнен декоративными элементами - ламбрекенами. Ламбрекены могут иметь как жесткую так и мягкую конструкцию. Их используют в классических интерьерах.'
          },
          {
            title: 'японские',
            src: './img/curtain-8.png',
            text: 'Применение японских штор уместно в интерьерах в японском стиле и в стиле минимализм.'
          },
          {
            title: 'шторы балдахины',
            src: './img/curtain-9.png',
            text: 'На Руси наши предки использовали балдахин для защиты спального места младенца от сквозняков и насекомых - подвешивая ткань над люлькой малыша. В настоящее время балдахин в основном используют как декоративный элемент спальни.'
          },
          {
            title: 'на люверсах',
            src: './img/curtain-10.png',
            text: 'Люверсы представляют собой кольца различных размеров и блочки. Шторы на люверсах образуют красивую драпировку, которая придает красивый объем занавескам.'
          },
          {
            title: 'на петлях',
            src: './img/curtain-11.png',
            text: 'Представляют собой полотна, прикрепленные к карнизу с помощью специальным образом сшитых элементов – патов.'
          }
        ])
    block footer
      include ./includes/categories/footer
    block scripts
      script(src="./js/main.min.js")
