doctype html
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      title Стили
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(content="ie=edge" http-equiv="x-ua-compatible")
      link(rel="stylesheet" href="./css/style.min.css")
  body.wrapper
    block header
      include ./includes/categories/header
    block content
      main.catigories__main
        include ./includes/categories/about-categories
        +about-category("стили", "Немаловажный элемент всей оконной композиции, способный подчеркнуть стиль, красоту и функциональность вашего помещения", "./img/category-style.png")
        include ./includes/categories/type-of-category
        +type-of-category([
          {
            title: 'античный',
            src: './img/style1.png',
            text: 'Потолочные карнизы отличаются, в первую очередь, местом своего расположения - они крепятся на потолке, в отличие от традиционных моделей, которые фиксируются на стенах'
          },
          {
            title: 'авангард',
            src: './img/style2.png',
            text: 'представляет собой штангу, изготовленную из различных материалов, на которой присутствуют специальные кольца с крючками.'
          },
          {
            title: 'арабский:роскошь востока',
            src: './img/style3.png',
            text: 'Римские занавески обладают характерным методом складывания, который осуществляется только одним способом: подтяжкой нижнего края шторы. Внутри система изготовлена из пластика или алюминия'
          },
          {
            title: 'барокко:сверкание эпохи',
            src: './img/style4.png',
            text: 'Австрийские подъемные шторы – симбиоз французских и римских занавесей. Карнизы для австрийских штор используют такие же подъемные, как для римских штор, Они могут быть и с ручным и с автоматическим управлением'
          },
          {
            title: 'винтажный',
            src: './img/style5.png',
            text: 'алюминиевая конструкция, состоящая из привода для контроля за движением каретки, троса и ремня. Система универсальна: подойдет для римских, английских, японских, французских штор, а также привычных жалюзи, плиссе'
          },
          {
            title: 'кантри',
            src: './img/style6.png',
            text: 'краткое описание карнизной системы, сферы использования, видов штор, технические характеристики'
          },
          {
            title: 'лофт',
            src: './img/style7.png',
            text: 'краткое описание карнизной системы, сферы использования, видов штор, технические характеристики'
          },
          {
            title: 'модерн',
            src: './img/style8.png',
            text: 'краткое описание карнизной системы, сферы использования, видов штор, технические характеристики'
          },
          {
            title: 'неоклассика',
            src: './img/style9.png',
            text: 'краткое описание карнизной системы, сферы использования, видов штор, технические характеристики'
          },
          {
            title: 'немецкий (германский)',
            src: './img/style10.png',
            text: 'краткое описание карнизной системы, сферы использования, видов штор, технические характеристики'
          },
          {
            title: 'Постмодернизм: модный эксцентрик',
            src: './img/style11.png',
            text: 'краткое описание карнизной системы, сферы использования, видов штор, технические характеристики'
          },
          {
            title: 'прованс',
            src: './img/style12.png',
            text: 'краткое описание карнизной системы, сферы использования, видов штор, технические характеристики'
          },
          {
            title: 'ренессанс',
            src: './img/style13.png',
            text: 'краткое описание карнизной системы, сферы использования, видов штор, технические характеристики'
          },
          {
            title: 'романтизм',
            src: './img/style14.png',
            text: 'краткое описание карнизной системы, сферы использования, видов штор, технические характеристики'
          },
          {
            title: 'фьюжн',
            src: './img/style15.png',
            text: 'краткое описание карнизной системы, сферы использования, видов штор, технические характеристики'
          },
          {
            title: 'хай-тек',
            src: './img/style16.png',
            text: 'краткое описание карнизной системы, сферы использования, видов штор, технические характеристики'
          }
        ])
    block footer
      include ./includes/categories/footer
    block scripts
      script(src="./js/main.min.js")
