doctype html
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      title Солнцезащитные системы
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(content="ie=edge" http-equiv="x-ua-compatible")
      link(rel="stylesheet" href="./css/style.min.css")
  body
    block header
      include ./includes/categories/header
    block content
    block footer
      include ./includes/categories/footer
    block scripts
      script(src="./js/main.min.js")
