/* Media */
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1200px;
$mediaWidthLaptop: 1366px;

/* Colors */
$white: #FFFFFF;
$darken: #615258;
$light: #E5E5E5;
$second: #2C2427;
$header-text: #322711;
$pagination-bullet: #574B4F;
$pagination-bullet-active: $white;
$background-line: #C3BEBA;
$create-by: #796E6C;

/* Indent */
$main-indent: 13.75%;

/* Font */
$font-size: 10px;
$font-stack-roboto: 'Roboto';
