@import "../../utils/variables";

.navigation__link-back{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $white;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
}

.back__img{
  transform: translateX(-15%);
}

.category-navigation__list{
  justify-content: flex-start;
  padding-left: 1.6rem;
}
